<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>EDIT PHOTO</h1>

  <%  for ( let i = 0; i < photos.length; i++ ) { %>
  <%=    photos[i].name %> </br>
      <a href="<%=photos[i].image%>"></a> </br>
  <%  }; %>
  </body>
</html>
