<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HOMEPAGE</h1>
    <form action="/photos" method="get">
      <input type="submit" value="Photo Drop">
    </form>
    <form action="/users" method="get">
      <input type="submit" value="Users">
    </form>
  </body>
</html>
