<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>This is your users PAGE</h1>


    <form action="users/new" method="GET">
      <input type="submit" value="Add Your Info!">
    </form>
      <form action="/" method="GET">
        <input type="submit" value="HOME">
    </form>
<ul>
  <% for ( let i = 0; i < users.length; i++ ) { %>
    <li>
  <%=  users[i].name %>
  </li>
<%  } %>
</ul>
</body>

</html>
