<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>This is your users PAGE</h1>
  <form action="/" method="get">
    <input type="submit" name="" value="HOME">
  </form>
    <form action="/photos" method="get">
      <input type="submit" value="Photo Drop">
    </form>
      <form action="/users/new" method="GET">
        <input type="submit" value="Add Your Info!">
    </form>
  
          <ul>
            <% for ( let i = 0; i < users.length; i++ ) { %>
            <li>
              <%=  users[i].username %>
              <form action="/users/<%=users[i].id%>" method="GET">
                <input type="submit" value="Show <%=users[i].username%>'s Page">
  </form>
            </li>
            <%  } %>
          </ul>
</body>

</html>
