<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>ADD YOUR INFORMATION</h1>
  <form action="/users" method="POST">
    username: <input type="text" name="username"> </br>
    password: <input type="text" name="passowrd"> </br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>